<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="device = device-width, initial-scale = 1.0" />
    <meta charset="UTF-8" />
    <title>Dashboard</title>

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">


    <!-- CUSTOM CSS-->
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/dashboard.css">

</head>

<body>

    <div class="wrapper">
    <!-- INICIO: sidebar menu -->
        <nav id="sidebar" class="col-md-2">
            <div class="sidebar-header">
                <img src="/images/main-logo.png" alt="Logo do Site" class="img-fluid"/>
            </div>

            <hr />

            <nav class="nav flex-column">
                <a class="nav-link current" href="#">Dashboard</a>
                <a class="nav-link" href="#">Encurtar Link</a>
                <a class="nav-link" href="#">Configurar Links</a>
              </nav>

            <hr />

            <div id="sidebar-ftr">
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        myUserName001
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="#">Manage Account</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    <!-- FINAL: sidebar menu -->

    <!-- INICIO: page content -->
        <div id="content">
            <div class="top-header">
                <div class="header-left">
                    <h1>Resumo</h1>
                    <div class="chip">Acessos: 2703</div>
                    <div class="chip">Faturamento: R$ 502,05</div>
                </div>
            </div>

            <div class="chart-container">
                <div id="chart">
                    <div id="timeline-chart"></div>
                  </div>
            </div>
            <div class="history-container"> 

            </div>
            

        </div>
    <!-- FINAL: page content -->
    </div>

    <!-- SCRIPTS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="/scripts/scripts.js"></script>
    <script src="/scripts/dashboard-scripts.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment-with-locales.min.js" integrity="sha512-vFABRuf5oGUaztndx4KoAEUVQnOvAIFs59y4tO0DILGWhQiFnFHiR+ZJfxLDyJlXgeut9Z07Svuvm+1Jv89w5g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>
</html>